@media screen and (max-width: 600px) {
  .about-container {
    grid-template-columns: 1fr;
    .right-about {
      grid-template-columns: 1fr;
      padding-top: 2.5rem;
    }
    .left-about {
      padding-right: 0;
      p {
        padding-left: 0;
      }
    }
  }

  .contact-content-con {
    flex-direction: column;
    .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
    }
  }
  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .submit-btn {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 6rem;
  }

  .section {
    padding: 2rem 2.5rem !important;
  }

  .main-title {
    h2 {
      font-size: 1.5rem;
      span {
        font-size: 1.5rem;
      }

      .bg-text {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .section {
    padding: 7rem 3rem;
  }
  .about-stats {
    .progress-bars {
      grid-template-columns: 1fr;
    }
  }
  .main-title {
    h2 {
      font-size: 2rem;
      span {
        font-size: 2rem;
      }
      .bg-text {
        font-size: 2.5rem;
      }
    }
  }
}
@media screen and (max-width: 970px) {
  .section {
    padding: 7rem 6rem;
  }

  header {
    padding: 0;
  }
  header .right-header {
    padding: 0 !important;
  }

  .theme-btn {
    width: 50px;
    height: 50px;
  }

  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .left-header {
    .h-shape {
      display: none;
    }
  }
  .right-header {
    grid-row: 1;
    width: 90%;
    margin: 0 auto;
    .name {
      font-size: 2.5rem !important;
    }
  }
  .header-content .left-header .image {
    margin: 0 auto;
    width: 50%;
    height: 80%;
  }
  .portfolios {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 6rem;
  }

  .blogs {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }

  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
    .control {
      margin: 0.6rem 1rem !important;
    }
  }
  .timeline {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 1170px) {
  header {
    padding: 0 !important;
  }
  .about-container {
    grid-template-columns: 1fr;
    .right-about {
      padding-top: 2.5rem;
    }
  }
  .portfolios {
    grid-template-columns: 1fr;
  }
  .blogs {
    grid-template-columns: 1fr 1fr;
  }
  .main-title {
    h2 {
      font-size: 3rem;
      span {
        font-size: 3rem;
      }
      .bg-text {
        font-size: 3.5rem;
      }
    }
  }
}
@media screen and (max-width: 1600px) {
  header {
    padding: 0 !important;
  }
  .section {
    padding: 7rem 11rem;
  }
}
@media screen and (max-width: 2000px) {
  .contact-content-con {
    flex-direction: column;
    width: 80%;
    .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
    }
  }

  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .submit-btn {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 3500px) {
  .header-content .left-header .image {
    margin: 0 auto;
    width: 60%;
    height: 85%;
  }
  .portfolios .portfolio-item {
    width: auto;
    height: auto;
  }
}
